<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Arrange - Act - Assert</Title>
            <Author>Anil Mujagic</Author>
            <Description>Usual comments for basic structure of a unit test.</Description>
            <HelpUrl />
            <SnippetTypes />
            <Keywords />
            <Shortcut>aaa</Shortcut>
        </Header>
        <Snippet>
            <References />
            <Imports />
            <Declarations />
            <Code Language="csharp" Kind="" Delimiter="$">
                <![CDATA[// ARRANGE
$end$

// ACT

// ASSERT
]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
